<section>
  <div class="container">
    <h2 class="lReveal title" style="--color:#1A7FC3">{{"Our portfolio"| translate}}</h2>
    <div class="portfolio">
      <div class="lReveal">
        <img src="../../../assets/landing/portfolio/company-goal.webp" alt="company-goal image">
        <div>
          <button routerLink="/construction">
            <fa-icon [icon]="eyeIcon"></fa-icon>
          </button>
          <p>{{"Company profile"|translate}}</p>
        </div>
      </div>
      <div class="dReveal">
        <img src="../../../assets/landing/portfolio/company-goal.webp" alt="company-goal image">
        <div>
          <button routerLink="/construction">
            <fa-icon [icon]="eyeIcon"></fa-icon>
          </button>
          <p>{{"Visual identity samples"|translate}}</p>
        </div>
      </div>
      <div class="rReveal">
        <div style="--color:253 56 50;--color1:#FD3832;--color2:#EC413C;--color3:#FF7E7A;">
          <fa-icon [icon]="youtubeIcon"></fa-icon>
          <span>{{"Design Samples"|translate}}</span>
          <a routerLink="/construction"><img src="../../../assets/landing/portfolio/arrow.svg" alt="more"></a>
        </div>
        <div style="--color:42 90 252;--color1:#1737A1;--color2:#3057DB;--color3:#7693F7;">
          <fa-icon [icon]="faceIcon"></fa-icon>
          <span>{{"Videos samples"|translate}}</span>
          <a routerLink="/construction"><img src="../../../assets/landing/portfolio/arrow.svg" alt="more"></a>
        </div>
      </div>
    </div>
  </div>
</section>