section {
  .container {
    @apply py-20;
    .clients {
      @apply flex justify-center gap-5 flex-wrap py-10;
      > div {
        @apply flex justify-center flex-col text-center items-center min-w-[200px] pt-11 px-4 pb-3 rounded-2xl gap-2;
        background-color: #f3f3f3;
        width: calc(25% - 30px);
        img {
          @apply w-1/2;
        }
        h6 {
          @apply font-bold text-lg;
        }
        p {
          color: #6d6d6d;
        }
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(6),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(11) {
          background-color: #cccccc;
          @media (max-width: 894px) {
            background-color: #f3f3f3;
          }
        }
      }
    }
  }
}
