@import "swiper/scss";
@import "swiper/scss/pagination";
@import "swiper/scss/scrollbar";
.opinions-section {
  .container {
    @apply py-20;
    .opinion {
      @apply flex gap-12  py-10;
      direction: ltr;
      .opinionBox {
        &:lang(ar) {
          direction: rtl;
        }
        max-width: 400px;
        > p {
          @apply rounded-3xl relative p-3 mb-5 h-24;
          background: #eeeeee;
          &::after,
          &::before {
            @apply absolute;
            content: "";
          }
          &::after {
            @apply h-8 w-8 -top-4 right-8;
            background: url(../../../assets/landing/opinions/qoute.svg) center
              center no-repeat;
            background-size: contain;
          }
          &::before {
            @apply top-full -translate-y-[20%];
            border: 20px solid;
            border-top-color: #eee;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
          }
        }
        > div {
          @apply flex gap-5 items-center;
          img {
            @apply w-20 rounded-full;
          }
          > div {
            @apply flex flex-col;
            span {
              @apply font-medium;
            }
            p {
              color: #a1a1a1;
            }
          }
        }
      }
    }
  }
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  bottom: -25px;
  z-index: 0;
}
.swiper-scrollbar-drag {
  top: calc(-5px / 2);
  height: 10px;
  background-color: #53baff;
}
