<section class="opinions-section" *ngIf="opinions.length">
  <div class="container ">
    <h2 class="title">{{"Said about us"|translate}}</h2>
    <div class="opinion relative">
      <swiper class="swiper" style="max-width: 1200px; padding-top: 20px;" [config]="config">
        <ng-template *ngFor="let opinion of opinions" swiperSlide>
          <div class="opinionBox">
            <p translate="text" [translateParams]="{ar:opinion.ar_description,en:opinion.description}"></p>
            <div>
              <img src="{{opinion.image}}" alt="{{opinion.name}}">
              <div>
                <span translate="text" [translateParams]="{ar:opinion.ar_name,en:opinion.name}"></span>
                <p translate="text" [translateParams]="{ar:opinion.field?.ar_name,en:opinion.field?.name}"></p>
              </div>
            </div>
          </div>
        </ng-template>
      </swiper>
      <div class="swiper-scrollbar"></div>
      <div class="swiper-pagination"></div>
      <div>
      </div>
    </div>
  </div>
</section>