<section>
  <div class="overlay"></div>
  <div class="container">
    <div class="title-2">
      <h2 style="--color:83 186 255">{{"Our team"|translate}}</h2>
      <p>{{"Lorem ipsum dolor sit amet, consetetur"|translate}}</p>
    </div>
    <div class="team">
      <div *ngFor="let member of team" style="--color:83 186 255">
        <div> <img src="{{member.image}}" alt="{{member.name}} image"></div>
        <span class="arabic">{{member.ar_name}}</span>
        <span class="english">{{member.name}}</span>
      </div>
    </div>
  </div>
</section>