<header>
  <div class="container items-center">
    <a href="#" class="logo"><img src="assets/header/logo.svg" alt="zedy-logo"></a>
    <nav>
      <ul class="capitalize" id="nav-menu">
        <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="">{{'home' |
            translate}}</a></li>
        <li><a routerLinkActive="active" routerLink="services">{{'services' |
            translate}}</a></li>
        <li><a routerLinkActive="active" routerLink="clients">{{'our clients' |
            translate}}</a></li>
        <li><a routerLinkActive="active" routerLink="about">{{'about us' |
            translate}}</a></li>
        <li><a routerLinkActive="active" routerLink="learn">{{'learn with us' |
            translate}}</a></li>
        <li><a routerLinkActive="active" routerLink="join">{{'join us' |
            translate}}</a></li>
        <app-language></app-language>
      </ul>
    </nav>
    <a class="whatsapp-icon" [href]="whatsLink">
      <fa-icon [icon]="whatsapp"></fa-icon>

    </a>
    <app-language></app-language>
    <button id="toggeler" class=" " (click)="toggelMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>