header {
  @apply w-full fixed py-3 top-0 z-20 bg-grayBg;
  .container {
    @apply text-xl flex;
    > a {
      width: 100px;
    }
    nav {
      flex-grow: 1;
      ul {
        @apply text-center capitalize;
        text-align: center;

        li {
          @apply mx-3 inline-block list-none;
          a {
            @apply relative transition-colors  py-2;
            &::after {
              @apply left-0 top-full w-0 absolute h-0.5 rounded-full bg-primary;
              content: "";
              transition: 0.15s width;
            }
            &:lang(ar)::after {
              @apply right-0;
            }
            &:hover,
            &.active {
              @apply text-primary;
              &::after {
                width: 50%;
              }
            }
          }
        }
        app-language {
          display: none;
        }
        @media (max-width: 1018px) {
          @apply bg-grayBg flex flex-col absolute top-full h-0 transition-all w-full gap-5 left-0 overflow-hidden;
          li {
            a {
              @apply block rounded-md;
              &.active,
              &:hover {
                @apply w-full bg-white bg-opacity-90;
                &::after {
                  width: 0px;
                  &:lang(ar) {
                    @apply right-0;
                    margin-right: 0px;
                  }
                }
              }
            }
          }
          app-language {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
          }
          &.active {
            height: calc(100vh - 68px);
          }
        }
      }
    }
    > button {
      @apply ml-3 flex flex-col items-end gap-[10px];
      &:lang(ar) {
        @apply mr-3 ml-3;
      }
      @media (min-width: 1018px) {
        @apply hidden;
      }
      span {
        transform-origin: 0%;
        @apply h-[2px] w-[30px] bg-black rounded-full transition-all duration-300;
      }
      > span:nth-child(2) {
        @apply w-[20px];
      }
      > span:nth-child(3) {
        @apply w-[10px];
      }
      &:hover > span:nth-child(3) {
        @apply w-[30px];
      }
      &.active {
        @apply h-[30px] justify-around gap-[15px];
        > span:nth-child(1) {
          @apply rotate-[50deg];
        }
        > span:nth-child(2) {
          @apply hidden;
        }
        > span:nth-child(3) {
          @apply w-[30px] rotate-[-50deg];
        }
      }
    }
    > app-language {
      @media (max-width: 1018px) {
        display: none;
      }
    }
    > .whatsapp-icon {
      @apply hidden w-10 h-10 text-green-500 bg-slate-100 rounded-md justify-center items-center;
      min-height: 40px;
      min-width: 40px;
      @media (max-width: 1018px) {
        @apply flex;
      }
    }
  }
}
