.lang {
  @apply bg-grayLight flex justify-around gap-2 py-3 px-2 min-w-[100px] rounded-2xl relative select-none;
  @media (max-width: 400px) {
    @apply min-w-[40px];
  }

  .lang-box {
    @apply flex gap-3 hover:text-primary scale-95 transition;
    cursor: pointer;
    img {
      @apply rounded-sm max-w-[30px];
    }
    &.arabic {
      font-family: "Tajawal", sans-serif;
      &:lang(ar) {
        display: none !important;
      }
    }
    &.english {
      &:lang(en) {
        display: none !important;
      }
    }
  }
}
