<div class="lang">
  <div class="selected-lang">
    <div *ngIf="lang == 'ar'" class="lang-box" (click)="setLang('en')"><img src="assets/landing/flags/usa.svg"
        alt="English-Button"><span>English</span>
    </div>
    <div *ngIf="lang == 'en'" class="lang-box" lang="ar" (click)="setLang('ar')"><img
        src="assets/landing/flags/egypt.svg" alt="Arabic-Button"><span>عربى</span>
    </div>
  </div>
  <!-- <div class="lang-menu">
    <div (click)="setLang('en')" class="lang-box"><img src="assets/landing/flags/usa.svg"
        alt="English-Button"><span>English</span>
    </div>
    <div (click)="setLang('ar')" lang="ar" class="lang-box"><img src="assets/landing/flags/egypt.svg"
        alt="Arabic-Button"><span>عربى</span>
    </div>
  </div>
  <button id="lang-btn">
    <img src="assets/header/lang-btn.svg" alt="">
  </button> -->
</div>
<!-- <div class="lang">
  <div class="selected-lang">
    <div class="lang-box en"><img src="assets/landing/flags/usa.svg" alt="English-Button"><span>English</span>
    </div>
    <div class="ar lang-box " lang="ar"><img src="assets/landing/flags/egypt.svg" alt="Arabic-Button"><span>عربى</span>
    </div>
  </div>
  <div class="lang-menu">
    <div (click)="setLang('en')" class="lang-box"><img src="assets/landing/flags/usa.svg"
        alt="English-Button"><span>English</span>
    </div>
    <div (click)="setLang('ar')" lang="ar" class="lang-box"><img src="assets/landing/flags/egypt.svg"
        alt="Arabic-Button"><span>عربى</span>
    </div>
  </div>
  <button id="lang-btn">
    <img src="assets/header/lang-btn.svg" alt="">
  </button>
</div> -->