.lang {
  @apply bg-grayLight flex justify-around gap-2 py-3 px-2 min-w-[150px] rounded-2xl relative select-none;
  @media (max-width: 400px) {
    @apply min-w-[40px];
  }

  .lang-box {
    @apply flex gap-3 hover:text-primary scale-95 transition;
    cursor: pointer;
    @media (max-width: 400px) {
      @apply justify-center;
      span {
        @apply hidden;
      }
    }
    img {
      @apply rounded-sm max-w-[30px];
    }
    &[lang="ar"] {
      font-family: "Tajawal", sans-serif;
    }
  }
  .lang-menu {
    @apply bg-grayLight rounded-2xl -z-50 flex origin-top flex-col gap-5 opacity-0 w-full p-2 absolute transition left-0;
    top: calc(100% + 2px);
    transform: rotateX(90deg);
    &.active {
      @apply opacity-100 z-10;
      transform: rotateX(0deg);
    }
  }
  .selected-lang {
    &:lang(ar) {
      .en {
        display: none !important;
      }
    }
    &:lang(en) {
      .ar {
        display: none !important;
      }
    }
  }
}
