section {
  .container {
    @apply flex flex-col gap-10 py-8;
    img {
      mix-blend-mode: darken;
      max-width: 600px;
      margin: auto;
      width: 100%;
    }
    button {
      @apply capitalize;
    }
  }
}
