<section>
  <div class="container">
    <div class="who-we">
      <p class="ar">شركة <span class="font-bold text-primary">الزيدي</span> لخدمات التسويق و البرمجة تقدم خدمة متكاملة
        فى مجال التسويق و البرمجيات و إدارة الأعمال
        عن طريق فريق عمل مميز و خبرة تتجاوز <span class="font-bold">ال6 سنوات</span> فى خدمة أكثر من <span
          class="font-bold">300 عميل</span></p>
      <p class="en"><span class="font-bold text-primary">Zedy</span> Marketing and Programming Services Company provides
        a complete
        service in the
        field of
        marketing, software and business management. Through a distinguished team and more than <span
          class="font-bold">6 years</span> of experience
        serving more than <span class="font-bold">300</span> clients</p>

    </div>
  </div>
</section>
<section class="py-10">
  <app-services></app-services>
  <a class="details-btn dReveal" routerLink="services">{{"show details"|translate}}</a>
</section>
<app-why-us></app-why-us>
<app-opinions></app-opinions>
<app-team></app-team>