<section>
  <div class="container">
    <div class="who-we">
      <p class="en"><span class="font-bold text-primary">Zedy</span> Marketing and Programming Services Company provides
        a complete
        service in the
        field of
        marketing, software and business management. Through a distinguished team and more than <span
          class="font-bold">6 years</span> of experience
        serving more than <span class="font-bold">300</span> clients</p>
    </div>
  </div>
</section>