<footer>
  <div class="container">
    <div>
      <div>
        <img src="assets/landing/whiteLogo.svg" alt="zedy logo">
        <p translate="text" [translateParams]="{ar:config?.description,en:config?.en_description}"> </p>
        <app-language class="language"></app-language>
      </div>
      <div>
        <h3>{{"Important Links"|translate}}</h3>
        <ul class="capitalize">
          <li><a routerLink="/">{{'home' | translate}}</a></li>
          <li><a routerLink="/services">{{'services' | translate}}</a></li>
          <li><a routerLink="clients">{{'our clients' | translate}}</a></li>
          <li><a routerLink="about">{{'about us' | translate}}</a></li>
          <li><a routerLink="learn">{{'learn with us' | translate}}</a></li>
          <li><a routerLink="join">{{'join us' | translate}}</a></li>
        </ul>
      </div>
      <div>
        <h3>{{"Contact Us"|translate}}</h3>
        <div class="call">
          <div><a target="_blank" href="tel:+2{{config?.phone}}">
              <span>{{config?.phone}}</span>
              <fa-icon [icon]="callIcon"></fa-icon>
            </a></div>
          <div><a target="_blank" href="tel:+2{{config?.phone2}}">
              <span>{{config?.phone2}}</span>
              <fa-icon [icon]="callIcon"></fa-icon>
            </a></div>
        </div>
        <h3>{{"Or visit the closest branch"|translate}}</h3>
        <div class="location">
          <fa-icon [icon]="faLocationDot"></fa-icon>
          <a target="_blank" [href]="config?.location" translate="text"
            [translateParams]="{ar:config?.ar_address,en:config?.address}"> </a>

        </div>
        <div class="links">
          <ng-container *ngFor="let link of socialLinks ; let i=index">
            <a *ngIf="link.link" target="_blank" [style]="'--color:'+link.color" [href]="link.link">
              <fa-icon [icon]="link.icon"></fa-icon> </a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>{{"All rights reserved "|translate}}<span>{{"Zedy "|translate}}<span>{{year}}</span></span></p>
  </div>
</footer>