<footer>
  <div class="container">
    <div>
      <div>
        <img src="assets/landing/whiteLogo.svg" alt="zedy logo">
        <p class="arabic">{{config?.description}}</p>
        <p class="english">{{config?.en_description}}</p>
        <app-language class="language"></app-language>
      </div>
      <div>
        <h3>{{"Important Links"|translate}}</h3>
        <ul class="capitalize">
          <li><a routerLink="/">{{'home' | translate}}</a></li>
          <li><a routerLink="/services">{{'services' | translate}}</a></li>
          <li><a routerLink="clients">{{'our clients' | translate}}</a></li>
          <li><a routerLink="about">{{'about us' | translate}}</a></li>
          <li><a routerLink="learn">{{'learn with us' | translate}}</a></li>
          <li><a routerLink="join">{{'join us' | translate}}</a></li>
        </ul>
      </div>
      <div>
        <h3>{{"Contact Us"|translate}}</h3>
        <div class="call">
          <div><a href="tel:+2{{config?.phone}}">
              <span>{{config?.phone}}</span>
              <fa-icon [icon]="callIcon"></fa-icon>
            </a></div>
          <div><a href="tel:+2{{config?.phone2}}">
              <span>{{config?.phone2}}</span>
              <fa-icon [icon]="callIcon"></fa-icon>
            </a></div>
        </div>
        <h3>{{"Or visit the closest branch"|translate}}</h3>
        <div class="location">
          <fa-icon [icon]="faLocationDot"></fa-icon>
          <a [href]="config?.location" class="arabic">{{config?.ar_address}}</a>
          <a [href]="config?.location" class="english">{{config?.address}}</a>
        </div>
        <div class="links">
          <a style="--color:{{myLink.color}}" *ngFor="let myLink of socialLinks ; let i=index" [href]="myLink.link">
            <fa-icon [icon]="myLink.icon"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>{{"All rights reserved "|translate}}<span>{{"Zedy "|translate}}<span>{{year}}</span></span></p>
  </div>
</footer>