<section>
  <div class="container">
    <div class="title-2" style="--color:60 169 252">
      <h2 class="dReveal">{{"Why us"|translate}}</h2>
      <p class="dReveal">{{"Lorem ipsum dolor sit amet, consetetur"|translate}}</p>
    </div>
    <div class="why-us">
      <div>
        <div class="uReveal">
          <div>
            <img src="assets/landing/why us/experience.svg" alt="experience image">
          </div>
          <p>{{configuration?.experience_year_counter }} {{"Years of experience"|translate}}</p>
        </div>
        <div class="dReveal">
          <div>
            <img src="assets/landing/why us/designs.svg" alt="designs image">
          </div>
          <p>{{"More than 10K designs"|translate}}</p>
        </div>
      </div>
      <div>
        <div class="uReveal">
          <div>
            <img src="assets/landing/why us/rate.svg" alt="clients image">
          </div>
          <p>{{"More than 300 clients served"|translate}}</p>
        </div>
        <div class="dReveal">
          <div>
            <img src="assets/landing/why us/videos.svg" alt="videos image">
          </div>
          <p>{{"More than 250 videos"|translate}}</p>
        </div>
      </div>
      <div>
        <div class="uReveal">
          <div>
            <img src="assets/landing/why us/team.svg" alt="team image">
          </div>
          <p>{{"Team of more than 30 worker"|translate}}</p>
        </div>
        <div class="dReveal">
          <div>
            <img src="assets/landing/why us/place.svg" alt="service image">
          </div>
          <p>{{"Complete service in one place"|translate}}</p>
        </div>
      </div>
    </div>
  </div>
</section>