<app-load></app-load>
<section>
  <div class="container">
    <h2>{{"Available Positions"|translate}}</h2>
    <p>{{"You can apply to work with us through"|translate}}<span class="font-bold"> 15 </span>{{"possible jobs, and if
      the job is not available, it may be available later, God willing"|translate}}</p>

    <div>
      <div class="links">
        <div class="jobs">
          <a *ngFor="let job of jobs" href="{{job.link}}">{{job.job}}</a>
        </div>
        <div class="other-jobs">
          <div style="--color:#3683CD">
            <div>

              <img src="../../../assets/join us/male.svg" alt="male-icon">
            </div>
            <a href="">{{"Accountant"|translate}}</a>
            <a href="">{{"Account Manager"|translate}}</a>
            <a href="">{{"Out-Door Sales"|translate}}</a>
            <a href="">{{"Office Boy"|translate}}</a>
          </div>
          <div style="--color:#F47095">
            <div>

              <img src="../../../assets/join us/male.svg" alt="male-icon">
            </div>
            <a href="">{{"HR Coordinator"|translate}}</a>
            <a href="">{{"In-Door Sales"|translate}}</a>
          </div>
        </div>
        <div class="submit">
          <a href="">{{"Press to submit"|translate}}</a>
          <a href=""><img src="../../../assets/join us/file.svg" alt=""></a>
        </div>
      </div>
      <div class="form-img">
        <img src="../../../assets/join us/Illustration.png" alt="form image">
      </div>
    </div>
  </div>
</section>
<app-team></app-team>