$animTime: 0.5s;
.rReveal,
.lReveal,
.uReveal,
.dReveal {
  opacity: 0;
  transition-duration: $animTime;
  transition-property: color, background-color, box-shadow, border, transform,
    opacity;
  transition-delay: 0ms, 0ms, 0ms, 0ms, calc(var(--d, 0) * 0.1s),
    calc(var(--d, 0) * 0.1s);
}
.rReveal {
  transform: translateX(70px) translateY(0px);
}
.lReveal {
  transform: translateX(-70px) translateY(0px);
}
.uReveal {
  transform: translateY(-70px) translateX(0px);
}
.dReveal {
  transform: translateY(70px) translateX(0px);
}
.reveal {
  transform: translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}
