<div class="container grid lg:grid-cols-4 gap-5">
  <div class="learn-video lg:col-span-3">
    <div class=" flex flex-col items-start">
      <div class="w-full relative rounded-lg overflow-hidden">
        <button class="playBtn w-full h-full top-0 z-10 absolute" (click)="playVideo($event)">
        </button>
        <iframe class="w-full aspect-video" #frame [src]="'https://www.youtube.com/embed/' + video?.item?.path | safe"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <a class="mt-2 font-bold text-2xl py-10" translate="text"
        [translateParams]="{ar:video?.item.ar_name,en:video?.item.name}" target="_blank"
        [href]="'https://www.youtube.com/'+ video?.item.path | safe"></a>
      <h2 class="title" translate="text" [translateParams]="{ar:'وصف الفيديو',en:'Discription'}">

      </h2>

      <p class="mt-3" [innerHTML]="video?.item.ar_description" *ngIf="lang == 'ar'"></p>
      <p class="mt-3" [innerHTML]="video?.item.description" *ngIf="lang == 'en'"></p>
    </div>
  </div>
  <div class="bg-neutral-100 border rounded-lg p-3 overflow-hidden">
    <h2 class="text-primary alsoWatch relative py-5 font-bold text-center text-2xl" translate="text"
      [translateParams]="{ar:'شاهد ايضا',en:'Also Watch'}">
    </h2>
    <div class="learn-video py-10 grid gap-4">
      <div class="items-center flex flex-col" *ngFor="let video of video.items">
        <div class="w-full relative rounded-lg overflow-hidden">
          <button class="playBtn w-full h-full top-0 z-10 absolute" (click)="playVideo($event)">
          </button>
          <iframe class="w-full aspect-video" #frame [src]="'https://www.youtube.com/embed/'+video.path | safe"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="flex items-center w-full justify-between mt-2 gap-1">
          <a class="font-bold text-xs" translate="text" [translateParams]="{ar:video.ar_name,en:video.name}"
            target="_blank" [href]="'https://www.youtube.com/watch?v='+video.path | safe"></a>
          <button routerLink="/video/{{video.id}}"
            class="bg-primaryLight bg-opacity-20 p-2 rounded-full w-max flex items-center gap-1 min-w-max">
            <span class="text-xs text-primary font-bold" translate="text"
              [translateParams]="{ar:'المزيد',en:'More'}"></span>
            <img class="w-4 arrow" src="assets/landing/r-arrow.svg">
          </button>
        </div>
      </div>
    </div>
  </div>

</div>